.hdr {
  width: 100%;
}

.in {
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-300);
  width: 45%;
  padding: 0 var(--bm-space-300);
}

.logo-wrapper {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.logo-link {
  display: inline-block;
  outline: 0;
}

.context {
  font-size: 1.0rem;
  font-weight: 200;
  color: var(--bm-tint-silver);
  line-height: 165%;
}

.logo-link svg {
  vertical-align: middle;
}

.connect-wrapper {
  padding: 0 var(--bm-space-300);
}

.connect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.connect a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--bm-tint-silver);
}

.connect a span {
  display: inline-flex;
  padding: 0 var(--bm-space-300) 0 0;
  line-height: 32px;
  font-weight: 300;
}

.connect a svg {
  margin-left: var(--bm-space-100);
}

.connect .btn {
  position: relative;
}

.connect a .btn::before,
.connect a .btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease;
  background-color: var(--bm-tint-primary);
}

.connect a .btn::before {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0.3s;
}

.connect a:hover .btn::before {
  transform: scaleX(0);
  transition-delay: 0s;
}

.connect a .btn::after {
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0s;
}

.connect a:hover .btn::after {
  transform: scaleX(1);
  transition-delay: 0.2s;
}

.cta {
  position: absolute;
  top: 110px;
  right: 64px;
  width: 220px;
  background-color: var(--bm-tint-primary);
  border-radius: var(--bm-radius-base);
  font-size: 0.875rem;
  line-height: 130%;
  font-weight: 300;
  color: var(--bm-tint-silver);
  padding: var(--bm-space-200) var(--bm-space-300);
}

.cta::before,
.cta::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--bm-tint-primary);
}

.cta::before {
  top: -32px;
  right: -32px;
  width: 28px;
  height: 28px;
}

.cta::after {
  top: -60px;
  right: -53px;
  width: 21px;
  height: 21px;
}

.fpath {
  fill: var(--bm-tint-silver);
}

.fdark {
  fill: var(--bm-tint-secondary);
}

.sdark {
  stroke: var(--bm-tint-init);
}

.accept-btn {
  fill: var(--bm-tint-primary);
}

.btnarrow {
  fill: var(--bm-tint-silver);
}

@media only screen and (max-width: 1200px) {
  .in {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {
  .in {
    width: 65%;
  }

  .cta {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  .in {
    width: 85%;
  }

  .connect-wrapper {
    padding: 0;
  }
}