.link {
  display: inline-flex;
}

.link-text {
  color: var(--bm-tint-silver);
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: var(--bm-radius-sm);
  line-height: var(--bm-space-400);
  padding: 0 var(--bm-space-100);
  white-space: nowrap;
}

.bg .link-text {
  background-color: var(--bm-tint-accent);
}

.link-icon {
  background-color: var(--bm-tint-accent);
  border-radius: var(--bm-radius-sm);
  width: var(--bm-space-400);
  height: var(--bm-space-400);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arr {
  fill: var(--bm-tint-silver)
}

.link a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--bm-space-50);
  -webkit-tap-highlight-color: transparent;
}

.link a:hover .link-icon-left {
  display: inline-flex;
}

.link a:hover .link-icon {
  width: var(--bm-space-400);
  height: var(--bm-space-400);
}