.link a {
  display: inline-flex;
  align-items: center;
  gap: var(--bm-space-50);
}

.link-text {
  color: var(--bm-tint-silver);
  font-size: 0.875rem;
  border-radius: var(--bm-radius-sm);
  line-height: var(--bm-space-400);
  padding: 0 var(--bm-space-100);
}

.link-icon {
  background-color: var(--bm-tint-secondary);
  border-radius: var(--bm-radius-sm);
  width: var(--bm-space-400);
  height: var(--bm-space-400);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.arr {
  fill: var(--bm-tint-init)
}