.showslide {
  display: flex;
  height: 100vh;
  min-height: 650px;
}

.section {
  height: auto;
  color: var(--bm-tint-silver);
}

.hero-section {
  display: flex;
  width: 100vw;
  gap: var(--bm-space-100);
  padding: var(--bm-space-200);
}

.logo {
  display: inline-flex;
  position: fixed;
  z-index: 10;
  top: var(--bm-space-700);
  left: var(--bm-space-700);
}

.logo a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.close {
  display: inline-flex;
  position: fixed;
  z-index: 10;
  top: var(--bm-space-700);
  right: var(--bm-space-700);
}

.hero,
.summary-pane {
  width: 50%;
  flex: 0 0 50%;
  border-radius: var(--bm-radius-lg);
}

.summary-pane {
  position: relative;
  z-index: 1;
  background-color: var(--bm-tint-init);
}

.hero {
  position: relative;
}

.summary {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--bm-space-900);
}

.summary-body {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: var(--bm-space-500);
}

.summary-header {
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-100);
}

.heading h1 {
  font-family: var(--font-passion-one);
  font-size: 3.7rem;
  line-height: 70%;
  font-weight: 700;
}

.subheading h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--bm-tint-silver);
  opacity: 0.5;
}

.summary-content {
  font-weight: 300;
  line-height: 1.7;
  font-size: 0.875rem;
}

.summary-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 300;
}

.link a {
  display: inline-flex;
  align-items: center;
  gap: var(--bm-space-50);
}

.link-text {
  color: var(--bm-tint-silver);
  /* background-color: var(--bm-tint-dim); */
  font-size: 0.875rem;
  border-radius: var(--bm-radius-sm);
  line-height: var(--bm-space-400);
  padding: 0 var(--bm-space-200);
}

.link-icon {
  background-color: var(--bm-tint-dim);
  border-radius: var(--bm-radius-sm);
  width: var(--bm-space-400);
  height: var(--bm-space-400);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tags {
  display: flex;
  gap: var(--bm-space-200);
  opacity: 0.5;
}

.figure {
  position: absolute;
  bottom: 160px;
  left: 0;
  transform: translateX(calc(-50% - var(--bm-space-100)));
  z-index: 5;
  width: 140px;
  height: 140px;
}

.brand-accent {
  width: 100%;
  height: 100%;
}

.hero-image {
  object-fit: cover;
  border-radius: var(--bm-radius-lg);
}

.screen-section {
  display: flex;
}

.screen {
  height: 100%;
  width: 100%;
  padding: var(--bm-space-200);
}

.screen-image {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: var(--bm-radius-lg);
}

.after-section {
  display: flex;
  align-items: center;
  padding-right: 240px;
}

.caption {
  max-width: 60ch;
  min-width: 60ch;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.7;
  padding: 0 var(--bm-space-1000);
  margin: 0 var(--bm-space-300);
}

.imagery {
  display: flex;
  align-items: center;
  gap: var(--bm-space-400);
}

.frame {
  width: 400px;
  height: 634px;
  position: relative;
  border-radius: var(--bm-radius-base);
  overflow: hidden;
}

.scene {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: auto;
}

.skandan-music .frame {
  width: 400px;
  height: 400px;
}

.photocomma .frame02 .scene {
  bottom: 95px;
}

.buddyboss-platform .frame03 .scene {
  bottom: 100px;
}

.sharenoto-party .frame02 .scene {
  bottom: 105px;
}

.sharenoto-party .frame03 .scene {
  bottom: 22px;
}


@media only screen and (max-width: 1200px) {
  .hero-section {
    width: 150vw;
  }
}

@media only screen and (max-width: 768px) {
  .showslide {
    height: auto;
    flex-direction: column;
  }

	.hero-section {
    flex-direction: column;
    gap: var(--bm-space-400);
    width: 100vw;
  }

  .hero {
    min-height: 80vh;
  }

  .logo,
  .close {
    position: absolute;
  }

  .close {
    top: var(--bm-space-800)
  }

  .hero,
  .summary-pane {
    width: 100%;
    flex: 0 0 100%;
  }

  .summary {
    gap: var(--bm-space-600);
    padding: var(--bm-space-900) var(--bm-space-700);
  }

  .figure {
    bottom: unset;
    left: unset;
    top: 0;
    right: 8%;
    transform: translate(0, calc(-50% - var(--bm-space-400)));
    width: 100px;
    height: 100px;
  }

  .figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .summary-body {
    width: 100%;
  }

  .summary-footer {
    flex-direction: column;
    gap: var(--bm-space-300);
  }

  .screen-section {
    flex-direction: column;
    gap: var(--bm-space-200);
  }

  .screen {
    padding: 0;
    width: calc(100% - var(--bm-space-400));
    margin: 0 auto;
  }

  .screen-image {
    max-width: 100%;
    width: 100%;
  }

  .after-section {
    flex-direction: column;
    gap: var(--bm-space-600);
    padding: var(--bm-space-600) 0 var(--bm-space-1000);
  }

  .imagery {
    flex-direction: column;
  }

  .caption {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .summary {
    padding: var(--bm-space-800) var(--bm-space-500);
  }

  .caption {
    min-width: 40ch;
    max-width: 40ch;
  }
}

@media only screen and (max-width: 420px) {
  .frame {
    width: 370px;
    height: 586px;
  }
}