.copy {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 80%;
  padding: 0;
}

.tag {
  font-family: var(--font-montserrat);
  font-size: 64px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1.1;
  max-width: 480px;
  position: relative;
  z-index: 1;
}

.tag h1 {
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
}

.subtitle {
  font-family: var(--font-geist-sans);
  font-size: 20px;
  line-height: 1.5;
  font-weight: 200;
  max-width: 400px;
}

.overview {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.toggle {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 0;
	outline: 0;
	background-color: var(--bm-background);
	position: absolute;
	bottom: 112px;
	left: 0;
	transform: translateX(-50%);
	cursor: pointer;
}

.toggle svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.fpath {
	fill: var(--bm-accent);
}