.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  background-color: var(--bm-tint-init);
  position: relative;
  overflow: hidden;
}

.load {
  width: 1px;
  height: 0;
  margin: auto;
  background-color: var(--bm-tint-silver);
  animation: loadDown 0.5s forwards;
  opacity: 0.3;
}

@keyframes loadDown {
  to {
    height: 80vh;
  }
}

.twin {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.panel-wrapper {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  min-height: 650px;
}

.mask {
  position: absolute;
  inset: 0;
  background: var(--bm-tint-init);
  z-index: 2;
  transform: scaleX(1);
}

/* collapse toward left */
.mask--left {
  transform-origin: center left;
}

/* collapse toward right */
.mask--right {
  transform-origin: center right;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.panel--primary {
  background-color: var(--tone-primary);
}

.panel--secondary {
  background-color: var(--tone-secondary);
}

.plate {
  width: 100%;
  height: 100%;
}

.pp {
  padding: var(--bm-space-600) var(--bm-space-1000) var(--bm-space-1000);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sp {
  padding: var(--bm-space-600) var(--bm-space-1000);
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-800);
}

@media only screen and (max-width: 1200px) {
  .pp {
    padding: var(--bm-space-500) var(--bm-space-600);
  }

  .sp {
    padding: var(--bm-space-600) var(--bm-space-600);
  }
}

@media only screen and (max-width: 1000px) {
  .twin {
    display: grid;
    grid-auto-rows: 1fr;
  }

  .panel-wrapper {
    display: flex;
    width: 100%;
    min-height: auto;
  }

  .hero {
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .panel-wrapper {
    min-height: 100vh;
  }

  .pp {
    padding: var(--bm-space-500) var(--bm-space-300);
  }

  .sp {
    padding: var(--bm-space-600) var(--bm-space-600);
    gap: var(--bm-space-800);
  }
}