.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 650px;
  width: 100%;
  background-color: var(--bm-tint-init);
  position: relative;
  overflow: hidden;
}

.load {
  width: 1px;
  height: 0;
  margin: auto;
  background-color: var(--bm-tint-silver);
  animation: loadDown 0.5s forwards;
  opacity: 0.3;
}

@keyframes loadDown {
  to {
    height: 80vh;
  }
}

.twin {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.panel-wrapper {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  min-height: 650px;
}

.mask {
  position: absolute;
  inset: 0;
  background: var(--bm-tint-init);
  z-index: 2;
  transform: scaleX(1);
}

/* collapse toward left */
.mask--left {
  transform-origin: center left;
}

/* collapse toward right */
.mask--right {
  transform-origin: center right;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.panel--primary {
  background-color: var(--bm-tint-primary);
}

.panel--secondary {
  background-color: var(--bm-tint-secondary);
}

.plate {
  width: 100%;
  height: 100%;
}

.pp {
  padding: var(--bm-space-600) var(--bm-space-1000);
}

@media only screen and (max-width: 1000px) {
  .twin {
    flex-direction: column;
  }

  .panel-wrapper {
    display: flex;
    width: 100%;
    min-height: auto;
  }
}

@media only screen and (max-width: 500px) {
}