:root {
  --tone-primary-h: 42; /* Check ThemeProvider hue variable */
  --tone-primary-s: 33%;
  --tone-primary-l: 24%;

  --tone-secondary-h: 30; /* Check ThemeProvider hue variable */
  --tone-secondary-s: 13%;
  --tone-secondary-l: 70%;

  /* Primary shades */
  --tone-primary-100: hsl(var(--tone-primary-h), var(--tone-primary-s), 90%);
  --tone-primary-200: hsl(var(--tone-primary-h), var(--tone-primary-s), 75%);
  --tone-primary-300: hsl(var(--tone-primary-h), var(--tone-primary-s), 60%);
  --tone-primary-400: hsl(var(--tone-primary-h), var(--tone-primary-s), 55%);
  --tone-primary-500: hsl(var(--tone-primary-h), var(--tone-primary-s), 50%);
  --tone-primary-600: hsl(var(--tone-primary-h), var(--tone-primary-s), 40%);
  --tone-primary-700: hsl(var(--tone-primary-h), var(--tone-primary-s), 35%);
  --tone-primary-800: hsl(var(--tone-primary-h), var(--tone-primary-s), 10%);
  --tone-primary-900: hsl(var(--tone-primary-h), var(--tone-primary-s), 5%);
  --tone-primary: hsl(var(--tone-primary-h), var(--tone-primary-s), var(--tone-primary-l)); /* base */

  /* Secondary shades */
  --tone-secondary-100: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 95%);
  --tone-secondary-200: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 85%);
  --tone-secondary-300: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 75%);
  --tone-secondary-400: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 65%);
  --tone-secondary-500: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 60%);
  --tone-secondary-600: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 55%);
  --tone-secondary-700: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 45%);
  --tone-secondary-800: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 35%);
  --tone-secondary-900: hsl(var(--tone-secondary-h), var(--tone-secondary-s), 25%);
  --tone-secondary: hsl(var(--tone-secondary-h), var(--tone-secondary-s), var(--tone-secondary-l)); /* base */

  --bm-tint-accent: #be4c2f;
  --bm-tint-accent-alt: #be762f;
  --bm-tint-init: #2f2d2b;
  --bm-tint-primary: var(--tone-primary);
  --bm-tint-secondary: var(--tone-secondary);
  --bm-tint-silver: #e9e9e9;
  --bm-tint-dark: #1f1e1c;
  --bm-tint-dim: #3B3733;
  --bm-tint-text-inverted: #454545;

  --bm-background: var(--bm-tint-init);

  --max-width: 1600px;
  --block-border-radius: 20px;
  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --paint-dark: #153254;
  --paint-purple: #64007c;
  --paint-orange: #f25601;
  --paint-tangerine: #ff9a13;
  --paint-yellow: #febe1e;
  --paint-red: #f20101;
  --paint-green: #069147;
  --paint-pale: #f0e3c4;
  --paint-white: #ffffff;

  --bm-radius-xs: 2px;
  --bm-radius-sm: 3px;
  --bm-radius-md: 5px;
  --bm-radius-base: 10px;
  --bm-radius-lg: 12px;
  --bm-radius-xl: 20px;
  --bm-radius-full: 99px;

  --bm-space-0: 0;
  --bm-space-25: 2px;
  --bm-space-50: 4px;
  --bm-space-100: 8px;
  --bm-space-200: 16px;
  --bm-space-300: 24px;
  --bm-space-400: 32px;
  --bm-space-500: 40px;
  --bm-space-600: 48px;
  --bm-space-700: 56px;
  --bm-space-800: 64px;
  --bm-space-900: 72px;
  --bm-space-1000: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: clamp(14px, 1.2vw, 16px);
}

body {
  overflow-y: scroll;
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  background: var(--bm-background);
  font-family: var(--font-system);
  font-family: var(--font-geist-sans);
}

/* Hide scrollbar */
html.lenis,
html.lenis body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html.lenis::-webkit-scrollbar,
html.lenis body::-webkit-scrollbar {
  display: none;
}

[data-speed] {
  will-change: transform;
}

a {
  color: inherit;
  text-decoration: none;
}

#logo #ellipse,
#logo #circle g path {
  transition: fill 0.2s ease;
}

#logo:hover #ellipse {
  fill: var(--bm-tint-secondary);
}

#logo:hover #circle g path {
  fill: var(--bm-tint-silver);
  stroke: var(--bm-tint-silver);
}
