:root {
  --tone-primary-h: 32;
  --tone-primary-s: 8%;
  --tone-primary-l: 56%;

  --tone-secondary-h: 76;
  --tone-secondary-s: 19%;
  --tone-secondary-l: 44%;

  --tone-primary: hsl(var(--tone-primary-h), var(--tone-primary-s), var(--tone-primary-l));
  --tone-secondary: hsl(var(--tone-secondary-h), var(--tone-secondary-s), var(--tone-secondary-l));

  --bm-tint-init: #2f2d2b;
  --bm-tint-primary: hsl(var(--tone-primary-h), var(--tone-primary-s), var(--tone-primary-l));
  --bm-tint-secondary: hsl(var(--tone-secondary-h), var(--tone-secondary-s), var(--tone-secondary-l));
  --bm-tint-silver: #e9e9e9;

  --bm-background: #e9e9e9;

  --max-width: 1600px;
  --block-border-radius: 20px;
  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --paint-dark: #153254;
  --paint-purple: #64007c;
  --paint-orange: #f25601;
  --paint-tangerine: #ff9a13;
  --paint-yellow: #febe1e;
  --paint-red: #f20101;
  --paint-green: #069147;
  --paint-pale: #f0e3c4;
  --paint-white: #ffffff;

  --bm-radius-xs: 2px;
	--bm-radius-sm: 3px;
	--bm-radius-md: 5px;
	--bm-radius-base: 10px;
	--bm-radius-lg: 12px;
	--bm-radius-full: 99px;

	--bm-space-0: 0;
	--bm-space-50: 4px;
	--bm-space-100: 8px;
	--bm-space-200: 16px;
	--bm-space-300: 24px;
	--bm-space-400: 32px;
	--bm-space-500: 40px;
	--bm-space-600: 48px;
	--bm-space-700: 56px;
  --bm-space-800: 64px;
  --bm-space-900: 72px;
  --bm-space-1000: 80px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: clamp(14px, 1.2vw, 16px);
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
}

body {
  background: var(--bm-background);
  font-family: var(--font-system);
  font-family: var(--font-geist-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

#logo #ellipse,
#logo #circle g path {
  transition: fill 0.2s ease;
}

#logo:hover #ellipse {
  fill: var(--bm-tint-secondary);
}

#logo:hover #circle g path {
  fill: var(--bm-tint-silver);
  stroke: var(--bm-tint-silver);
}
