:root {
  --bm-background: #e9e9e9;
  --bm-foreground: #2f2d2b;
  --bm-dark-base: #2f2d2b;
  --bm-light-base: #e9e9e9;
  --bm-accent: #49304b;
  --bb-acent-secondary: #a32d3c;

  --max-width: 1600px;
  --block-border-radius: 20px;
  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --paint-dark: #153254;
  --paint-purple: #64007c;
  --paint-orange: #f25601;
  --paint-tangerine: #ff9a13;
  --paint-yellow: #febe1e;
  --paint-red: #f20101;
  --paint-green: #069147;
  --paint-pale: #f0e3c4;
  --paint-white: #ffffff;

  --bm-radius-xs: 2px;
	--bm-radius-sm: 4px;
	--bm-radius-md: 6px;
	--bm-radius-base: 8px;
	--bm-radius-lg: 12px;
	--bm-radius-full: 99px;

	--bm-space-0: 0;
	--bm-space-50: 4px;
	--bm-space-100: 8px;
	--bm-space-200: 16px;
	--bm-space-300: 24px;
	--bm-space-400: 32px;
	--bm-space-500: 40px;
	--bm-space-600: 48px;
	--bm-space-700: 56px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100%;
}

body {
  background: var(--bm-background);
  font-family: var(--font-system);
  font-family: var(--font-geist-sans);
}

a {
  color: inherit;
  text-decoration: none;
}
