:root {
  --background: #ffffff;
  --foreground: #171717;

  --max-width: 1280px;
  --block-border-radius: 20px;
  --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --foreground-color: #153254;
  --foreground-invert-color: #f0eef0;
  --background-color: #f0eef0;

  --paint-dark: #153254;
  --paint-purple: #64007c;
  --paint-orange: #f25601;
  --paint-tangerine: #ff9a13;
  --paint-yellow: #febe1e;
  --paint-red: #f20101;
  --paint-green: #069147;
  --paint-pale: #f0e3c4;
  --paint-white: #ffffff;

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;

  --mode-bg: #f0eef0;
  --mode-color: #153254;
  --mode-color-invert: #f0eef0;
  --mode-light: #fff;
  --mode-contrast: #fff;
  --mode-input-bg: #fff;
  --mode-input-color: var(--paint-dark);
  --mode-pale: var(--paint-pale);
  --mode-link: var(--paint-purple);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
