.showroom {
  display: flex;
  color: var(--bm-tint-silver);
  width: 100%;
  height: 100vh;
}

.board {
  margin: 0 var(--bm-space-200) var(--bm-space-200);
  padding: var(--bm-space-900);
  background-color: var(--bm-tint-dim);
  border-radius: var(--bm-radius-xl);
  display: flex;
  position: relative;
} 

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.panel.data {
	gap: var(--bm-space-500);
}

.panel.deck {
	position: relative;
}

.body {
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: var(--bm-space-400);
}

.body h2 {
	font-size: 1.625rem;
	line-height: 1.2;
	font-weight: 300;
}

.context {
	font-weight: 300;
	line-height: 165%;
	font-size: 0.875rem;
}

.tags {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	gap: var(--bm-space-400);
	font-size: 0.8125rem;
	font-weight: 200;
	line-height: 1;
}

.tags span {
	white-space: nowrap;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: var(--bm-space-100);
	width: 100%;
	align-items: flex-end;
}

.view {
	display: inline-flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	border-top-right-radius: var(--bm-radius-xl);
	border-bottom-left-radius: var(--bm-radius-xl);
	background-color: var(--bm-tint-init);
	color: var(--bm-tint-silver);
	padding: var(--bm-space-200) var(--bm-space-400);
	gap: var(--bm-space-200);
}

.view::before,
.view::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--bm-tint-init);
}

.view::before {
  top: 0;
  left: 0;
  background-color: var(--bm-tint-init);
  transform: rotate(90deg) translateY(100%);
  clip-path: path("M 0 0 L 16 0 Q 0 0 0 16 L 0 0 Z");
}

.view::after {
  bottom: 0;
  right: 0;
  transform: rotate(90deg) translateX(100%);
  clip-path: path("M 0 0 L 16 0 Q 0 0 0 16 L 0 0 Z");
}

.filter {
  fill: var(--bm-tint-silver);
}

.view svg {
  opacity: 0.2;
}

.view .active {
  opacity: 1;
}

.card {
  width: 100%;
  max-width: 90%;
  height: var(--bm-space-1000);
  border-radius: var(--bm-radius-md);
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--bm-space-200);
  padding: var(--bm-space-300) var(--bm-space-500);
  position: relative;
  z-index: 5;
}

.card.current {
	background-color: var(--bm-tint-init);
}

.title {
	width: 40%;
	line-height: 1;
}

.meta {
	flex: 1;
	font-size: 0.8125rem;
	text-align: right;
	opacity: 0.5;
}

.preview {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: var(--bm-tint-secondary);
  color: var(--bm-tint-silver);
  border-radius: var(--bm-radius-base);
  padding: var(--bm-space-100);
  white-space: nowrap;
  font-size: 90%;
  transition: all 0.5s ease;
  transition-delay: 10ms;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.06),
    0 0 8px rgba(0, 0, 0, 0.04);
  pointer-events: none;
  transform: translate(-112%, -106%);
}

.preview .blob {
  background-color: var(--bm-tint-secondary);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.5s ease;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.06),
    0 0 8px rgba(0, 0, 0, 0.04);
}

.preview .blob.lg {
  width: 28px;
  height: 28px;
  transform: translate(150%, 40%);
  transition-delay: 150ms;
}

.preview .blob.sm {
  width: 21px;
  height: 21px;
  transform: translate(330%, 170%);
  transition-delay: 300ms;
  outline: 5px solid var(--bm-tint-dim);
}

.case {
	width: 460px;
	height: 250px;
}

.figure {
	display: block;
	border-radius: var(--bm-radius-base);
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 1300px) {
	.panel {
		padding: var(--bm-space-300) var(--bm-space-600);
	}

	.cards {
		gap: var(--bm-space-300);
	}
}

@media only screen and (max-width: 1000px) {
	.showroom {
		padding: var(--bm-space-1000) 0;
		flex-direction: column;
		gap: var(--bm-space-500);
	}
}

@media only screen and (max-width: 768px) {
	.panel {
		padding: 0 var(--bm-space-300);
	}
}