.contact-form {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding: 0 0 var(--bm-space-400);
}

.row {
  margin: 0 0 var(--bm-space-400);
}

.row-submit {
  text-align: right;
}

.row-msg {
  margin-bottom: var(--bm-space-300);
}

.row label {
  display: block;
}

.row input,
.row textarea {
  width: 100%;
  font-size: 1rem;
  font-family: var(--font-geist-sans);
  padding: var(--bm-space-200) var(--bm-space-200);
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid  var(--bm-tint-primary);
  background-color: transparent;
  color: var(--bm-tint-silver);
  outline: none;
}

.row input::placeholder,
.row textarea::placeholder {
  text-transform: lowercase;
  font-size: 1rem;
  color: var(--bm-tint-silver);
}

.row input:focus,
.row textarea:focus {
  outline: none;
}

.row textarea {
  min-height: 140px;
  max-height: 160px;
  resize: vertical;
}

.contact-form button {
  background-color: transparent;
  display: inline-flex;
  gap: var(--bm-space-200);
  align-items: center; 
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  color: var(--bm-tint-silver);
}

.contact-form button span {
  text-transform: uppercase;
}

.contact-form button .ico {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bm-tint-silver);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  
}

.btnarrow {
  fill: var(--bm-tint-secondary);
}

.contact-form button svg {
  transform: rotate(-45deg);
  transition: transform .3s ease;
}

.contact-form button .ico {
  transition: transform .3s ease;
}

.contact-form button:hover .ico {
  transform: scale(1.1);
  background-color: var(--bm-tint-secondary);
}

.contact-form button:hover .btnarrow {
  fill: var(--bm-tint-silver);
}

.contact-form button:hover svg {
  transform: rotate(325deg);
}

.message {
  margin: 0 0 var(--bm-space-300);
  background-color: var(--bm-tint-secondary);
  color: var(--bm-tint-silver);
  padding: 0 var(--bm-space-200);
  height: 0;
  border-radius: var(--bm-radius-md);
  transition: all 0.3s ease;
  font-size: 0.875rem;
}

.message.show {
  padding-top: var(--bm-space-100);
  padding-bottom: var(--bm-space-100);
  height: auto;
}

.message.success {
  background-color: var(--paint-green);
  color: var(--foreground-invert-color);
}

.message.error {
  background-color: var(--paint-red);
  color: var(--bm-tint-silver);
}

.nevidim {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .contact-form {
    padding: 0 0 var(--bm-space-200);
  }

  .row {
    margin: 0 0 var(--bm-space-300);
  }

	.row input,
  .row textarea {
    padding: var(--bm-space-100) var(--bm-space-200);
  }

  .row textarea {
    min-height: 100px;
    resize: none;
  }
}

@media only screen and (max-width: 768px) {
	.row {
    margin: 0 0 var(--bm-space-200);
  }

  .contact-form {
    width: 80%;
    max-width: none;
  }
}
