.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 36px 0;
}

.container {
  max-width: 86%;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.logo-link {
  display: inline-block;
  outline: 0;
}

.logo-link:hover #ico .fpath {
  fill: var(--bm-acent-secondary);
}

#ellipse {
  fill: var(--bm-acent-secondary);
}

.logo-link svg {
  width: 130px;
  vertical-align: middle;
}

.connect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.connect a {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--bm-dark-base);
}

.connect a span {
  display: inline-flex;
  padding: 0 var(--bm-space-300) 0 0;
  line-height: 30px;
  font-weight: 300;
}

.connect a svg {
  margin-left: var(--bm-space-100);
}

.connect .btn {
  position: relative;
}

.connect a .btn::before,
.connect a .btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease;
  background-color: var(--bm-dark-base);
}

.connect a .btn::before {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0.3s;
}

.connect a:hover .btn::before {
  transform: scaleX(0);
  transition-delay: 0s;
}

.connect a .btn::after {
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0s;
}

.connect a:hover .btn::after {
  transform: scaleX(1);
  transition-delay: 0.2s;
}

.connect a .fdark {
  transition: fill 0.2s ease;
}

.connect a:hover .fdark {
  fill: var(--bm-acent-secondary);
}

.fpath {
  fill: var(--bm-light-base);
}

.fdark {
  fill: var(--bm-dark-base);
}

.sdark {
  stroke: var(--bm-dark-base);
}

@media only screen and (max-width: 1200px) {
  .connect a {
    color: var(--bm-light-base);
  }

  .connect a .btn::before,
  .connect a .btn::after {
    background-color: var(--bm-light-base);
  }

  .connect .fpath {
    fill: var(--bm-dark-base);
  }

  .connect .fdark {
    fill: var(--bm-light-base);
  }
}