.topbar {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: var(--bm-space-300);
  right: var(--bm-space-200);
  padding: var(--bm-space-200) var(--bm-space-100) var(--bm-space-200) var(--bm-space-400);
}

.connect-wrapper {
  padding: 0 var(--bm-space-300);
}

.connect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  position: relative;
}

.connect a {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--bm-tint-text-inverted);
  -webkit-tap-highlight-color: transparent;
}

.light .connect a {
  color: var(--bm-tint-silver);
}

.connect a span {
  display: inline-flex;
  padding: 0 var(--bm-space-200) 0 var(--bm-space-50);
  line-height: 32px;
  font-weight: 300;
}

.connect a svg {
  margin-left: var(--bm-space-100);
}

.btn {
  display: inline-flex;
  align-items: center;
}

.cta-tooltip {
  position: absolute;
  top: 120px;
  right: 64px;
  width: 220px;
}

.cta {
  position: relative;
  background-color: var(--bm-tint-accent);
  border-radius: var(--bm-radius-base);
  font-size: 0.875rem;
  line-height: 130%;
  font-weight: 300;
  color: var(--bm-tint-silver);
  padding: var(--bm-space-200) var(--bm-space-300);
  overflow: hidden;
}

.flip {
  white-space: pre-line;
}

.blob {
  position: absolute;
  border-radius: 50%;
  background-color: var(--tone-secondary-400);
  pointer-events: none;
  transform-origin: center;
}

.blob-lg {
  top: -32px;
  right: -32px;
  width: 28px;
  height: 28px;
}

.blob-sm {
  top: -60px;
  right: -53px;
  width: 21px;
  height: 21px;
}

.accept-btn {
  fill: var(--bm-tint-accent);
}

.overlay-btn {
  fill: var(--bm-tint-silver);
}

.btnarrow {
  fill: var(--bm-tint-silver);
}

.nh {
  display: inline-flex;
  align-items: center;
  gap: var(--bm-space-300);
}

.nh svg circle {
  fill: var(--tone-secondary-400);
}

.light .nh svg circle {
  fill: var(--tone-secondary-800);
}

@media only screen and (max-width: 1000px) {
  .topbar {
    position: static;
  }

  .topbar .nh {
    display: none;
  }

  .cta-tooltip {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  .connect-wrapper {
    padding-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .nh svg {
    display: none;
  }
}