.overlay {
  position: absolute;
	top: var(--bm-space-400);
	left: var(--bm-space-400);
  width: calc(100% - (2 * var(--bm-space-400)));
	height: calc(100vh - (2 * var(--bm-space-400)));
	background: var(--bm-tint-init);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
  border-radius: var(--bm-radius-base);
}

.pane {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-600);
  width: 100%;
  height: 100%;
  padding: var(--bm-space-600) var(--bm-space-800) var(--bm-space-900);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo svg {
  width: 60px;
  height: 60px;
}

.x {
  position: absolute;
  z-index: 10;
  top: var(--bm-space-500);
  right: var(--bm-space-500);
  font-size: 0.875rem;
  color: var(--bm-tint-silver);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  padding: 3px;
}

.x::before,
.x::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease;
  background-color: var(--bm-tint-silver);
}

.x::before {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0.3s;
}

.x:hover::before {
  transform: scaleX(0);
  transition-delay: 0s;
}

.x::after {
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0s;
}

.x:hover::after {
  transform: scaleX(1);
  transition-delay: 0.2s;
}

.body {
  flex: 1;
  position: relative;
  color: var(--bm-tint-silver);
  display: flex;
  align-items: center;
  justify-content: center;
}

.story {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: var(--bm-space-500);
}

.logo svg {
  max-width: 100%;
}

.feed {
  align-items: flex-start;
  font-weight: 300;
  line-height: 180%;
  font-size: 0.875rem;
  padding: 0; 
}

.feed a {
  color: var(--bm-tint-primary);
  transition: all 0.4s ease;
}

.feed a:hover {
  color: var(--bm-tint-secondary);
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--bm-tint-silver);
  font-weight: 100;
  font-size: 0.875rem;
}

.footer .link {
  display: block;
  text-transform: uppercase;
  line-height: 165%;
  color: var(--bm-tint-silver);
  transition: all 0.4s ease;
  cursor: pointer;
}

.footer .link:hover {
  color: var(--bm-tint-secondary);
}

.footer .copy {
  text-transform: uppercase;
}

.fsilver {
  fill: var(--bm-tint-silver)
}

.fsec {
  fill: var(--bm-tint-secondary)
}

@media only screen and (max-width: 1200px) {
  .story {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .overlay {
    top: var(--bm-space-200);
	  left: var(--bm-space-200);
    width: calc(100% - (2 * var(--bm-space-200)));
    height: calc(100vh - (2 * var(--bm-space-200)));
  }

  .story {
    max-width: 90%;
  }

  .logo {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 768px) {
  .pane {
    padding: var(--bm-space-600);
  }

  .story {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 480px) {
  .overlay {
    top: var(--bm-space-500);
    height: calc(100vh - (2 * var(--bm-space-500)));
  }

  .story {
    max-width: 100%;
    gap: var(--bm-space-200);
    grid-template-rows: repeat(3, auto);
  }

  .footer {
    flex-direction: column;
    gap: var(--bm-space-300);
    text-align: center;
    align-items: center;
  }
}
