.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bm-tint-init);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}

.x {
  position: absolute;
  top: var(--bm-space-500);
  right: var(--bm-space-600);
  font-size: 0.875rem;
  color: var(--bm-tint-silver);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  padding: var(--bm-space-1000) 0;
  position: relative;
}

.heading {
  text-align: center;
  font-size: 3.75rem;
  line-height: 120%;
  font-family: var(--font-passion-one);
  color: var(--bm-tint-primary);
  margin: 0 0 var(--bm-space-1000);
}

.noform {
  color: var(--bm-tint-silver);
  font-size: 0.875rem;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
	
}

@media only screen and (max-width: 768px) {
	
}

@media only screen and (max-width: 450px) {
	
}