.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bm-tint-init);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}

.x {
  position: absolute;
  z-index: 10;
  top: var(--bm-space-500);
  right: var(--bm-space-600);
  font-size: 0.875rem;
  color: var(--bm-tint-silver);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  padding: 3px;
}

.contact {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 100%;
  padding: var(--bm-space-1000) 0;
  position: relative;
}

.heading {
  text-align: center;
  font-family: var(--font-passion-one);
  color: var(--bm-tint-primary);
  margin: 0 0 var(--bm-space-600);
}

.heading h2 {
  font-size: 6.0rem;
  font-size: clamp(3rem, 8vw, 6rem);
  line-height: 80%;
}

.noform {
  color: var(--bm-tint-silver);
  font-size: 0.875rem;
  text-align: center;
}

.noform .email {
  display: inline-flex;
  align-items: center;
  padding: 3px 0;
  position: relative;
  cursor: pointer;
}

.noform .email::before,
.noform .email::after,
.x::before,
.x::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease;
  background-color: var(--bm-tint-silver);
}

.noform .email::before,
.x::before {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0.3s;
}

.noform .email:hover::before,
.x:hover::before {
  transform: scaleX(0);
  transition-delay: 0s;
}

.noform .email::after,
.x::after {
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0s;
}

.noform .email:hover::after,
.x:hover::after {
  transform: scaleX(1);
  transition-delay: 0.2s;
}

@media only screen and (max-width: 1000px) {
  .overlay {
    padding-top: var(--bm-space-400);
  }

  .contact {
    max-width: 90%;
    padding: var(--bm-space-400) 0 0;
  }

	.heading {
    margin: 0 0 var(--bm-space-400);
  }
}

@media only screen and (max-width: 768px) {
  .x {
    top: var(--bm-space-300);
    right: var(--bm-space-400);
  }
}

@media only screen and (max-width: 480px) {
  .heading h2 {
    font-size: 3.5rem;
  }
}
