.pane {
  display: flex;
  align-items: center;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  background-color: var(--bm-tint-init);
  padding: var(--bm-space-200);
  position: relative;
  overflow: hidden;
}

.twin {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: var(--bm-space-100);
  position: relative;
}

.panel-wrapper {
  position: relative;
  width: 50%;
  height: 100%;
  min-height: 650px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--bm-radius-xl);
}

.panel--left {
  background-color: var(--bm-tint-init);
}

.panel--right {
  background-color: var(--bm-tint-secondary);
}

.hdr {
  position: absolute;
  z-index: 5;
  top: var(--bm-space-600);
  left: var(--bm-space-600);
  display: block;
  width: calc(100% - (2 * var(--bm-space-600)));
}

.logo {
  position: absolute;
  z-index: 5;
  top: var(--bm-space-600);
  left: var(--bm-space-600);
  display: block;
  line-height: 1;
  font-size: 0;
}

.overview {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--bm-space-200);
  color: var(--bm-tint-init);
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: var(--bm-space-400) var(--bm-space-500);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--bm-space-400) var(--bm-space-800);
  font-weight: 100;
  font-size: 0.875rem;
}

.join {
  display: flex;
  align-items: center;
  gap: var(--bm-space-200);
}

.link {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--bm-tint-init);
  transition: all 0.4s ease;
  cursor: pointer;
}

.link:hover {
  color: var(--bm-tint-accent);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-300);
  width: 50%;
  margin: 0 auto;
}

.connect {
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-300);
  font-weight: 300;
}

.connect h3 {
  color: var(--bm-tint-accent);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;
}

.connect-info {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .pane {
    height: auto;
  }

  .twin {
    display: grid;
    grid-auto-rows: 1fr;
  }

  .panel-wrapper {
    display: flex;
    width: 100%;
    min-height: auto;
  }

  .footer {
    padding-bottom: var(--bm-space-800);
  }
}

@media only screen and (max-width: 768px) {
  .hdr {
    top: var(--bm-space-500);
    left: var(--bm-space-500);
    width: calc(100% - (2 * var(--bm-space-500)));
  }

  .header {
    padding: var(--bm-space-200) var(--bm-space-300);
  }

  .intro {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .twin {
    gap: var(--bm-space-50);
  }

  .hdr {
    top: var(--bm-space-300);
    left: var(--bm-space-300);
    width: calc(100% - (2 * var(--bm-space-300)));
  }

  .footer {
    flex-direction: column;
    gap: var(--bm-space-200);
  }
}
