.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.graph {
  max-width: 660px;  
}

.fill-contour {
  fill: var(--bm-tint-grey);
}

.fill-contour-accent {
  fill: var(--bm-tint-silver)
}

.stoke-contour {
  stroke: var(--bm-tint-grey);
}

.bowler {
  cursor: crosshair;
  pointer-events: bounding-box;
}

.preview {
  position: absolute;
  z-index: 15;
}

.media {
  height: 100%;
  width: 460px;
  height: 250px;
  border-radius: var(--bm-radius-base);
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview .blob {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
}

.preview .blob {
  display: inline-block;
  background-color: var(--bm-tint-grey);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.06),
    0 0 8px rgba(0, 0, 0, 0.04);
}

.preview .blob.lg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -35px;
  top: -20px;
  opacity: 1;
}

.preview .blob.sm {
  width: 16px;
  height: 16px;
  position: absolute;
  left: -60px;
  top: 0px;
  opacity: 1;
}
