.logofigure {
  overflow: visible;
}

.fpath {
  fill: var(--bm-tint-init);
}

.light .fpath {
  fill: var(--bm-tint-silver);
}

.fdark {
  fill: var(--tone-secondary);
}

.light .fdark {
  fill: var(--tone-secondary-700);
}