.footer {
  width: 100%;
  padding: 116px 0;
  background-color: var(--bm-tint-secondary);
}

.bar {
  max-width: 86%;
  margin: 0 auto;
}

.brand {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bm-tint-silver);
  padding: 0 0 var(--bm-space-600);
}

.logo-wrapper {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.logo-link {
  display: inline-block;
  outline: 0;
}

.logo-link svg {
  max-width: 120px;
}

.beta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.beta svg {
  max-width: 60px;
}

.fpath {
  fill: var(--bm-tint-silver);
}

.fdark {
  fill: var(--bm-tint-secondary);
}

.meta {
  display: flex;
  align-items: center;
  padding: var(--bm-space-700) 0 0;
  gap: var(--bm-space-200);
  flex-wrap: wrap;
}

.sns {
  display: inline-flex;
  align-items: center;
  gap: var(--bm-space-200);
}

.sns svg {
  width: 42px;
}

.copy {
  color: var(--bm-tint-silver);
  font-size: 0.875rem;
  flex: 1;
  line-height: 1.5;
}

.copy a {
  display: inline-block;
  padding: 3px 0;
  position: relative;
}

.copy a::before,
.copy a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease;
  background-color: var(--bm-tint-silver);
}

.copy a::before {
  transform: scaleX(1);
  transform-origin: right;
  transition-delay: 0.3s;
}

.copy a:hover::before {
  transform: scaleX(0);
  transition-delay: 0s;
}

.copy a::after {
  transform: scaleX(0);
  transform-origin: left;
  transition-delay: 0s;
}

.copy a:hover::after {
  transform: scaleX(1);
  transition-delay: 0.2s;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: var(--bm-space-1000) 0;
  }
}

@media only screen and (max-width: 600px) {
  .meta {
    flex-flow: column-reverse;
  }

  .copy {
    text-align: center;
  }
}