.hh {
  width: 100%;
  margin: var(--bm-space-1000) 0 120px;
}

.pitch {
  width: 100%;
  height: auto;
}

.glyph,
.txt {
  fill: var(--bm-tint-silver);
}

.pad {
  fill: var(--bm-tint-secondary);
}

@media only screen and (max-width: 1000px) {
  .hh {
    margin: var(--bm-space-700) 0;
  }
}