.showroom {
  display: flex;
  color: var(--bm-tint-silver);
  width: 100%;
  min-height: 100vh;
}

.board {
  margin: var(--bm-space-200);
  padding: var(--bm-space-600) var(--bm-space-800) var(--bm-space-900);
  background-color: var(--bm-tint-dim);
  border-radius: var(--bm-radius-xl);
  position: relative;
  display: flex;
  flex: 1;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 0.875rem;
}

.header {
  position: absolute;
  top: var(--bm-space-600);
  left: var(--bm-space-800);
}

.logo a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.close {
  padding-left: var(--bm-space-100);
}

.close::before {
  content: "|";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: var(--bm-space-200);
  opacity: 0.3;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.panel.data {
  gap: var(--bm-space-500);
}

.panel.deck {
  position: relative;
}

.body {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-400);
  padding: 0 0 var(--bm-space-300);
}

.body h2 {
  font-size: 1.625rem;
  line-height: 1.2;
  font-weight: 300;
}

.context {
  font-weight: 300;
  line-height: 165%;
  font-size: 0.875rem;
}

.tags {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: var(--bm-space-400);
  font-size: 0.8125rem;
  font-weight: 200;
  line-height: 1;
}

.tags span {
  white-space: nowrap;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-100);
  width: 100%;
  align-items: flex-end;
}

.view {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border-top-right-radius: var(--bm-radius-xl);
  border-bottom-left-radius: var(--bm-radius-xl);
  background-color: var(--bm-tint-init);
  color: var(--bm-tint-silver);
  padding: var(--bm-space-200) var(--bm-space-400);
  gap: var(--bm-space-200);
}

.view::before,
.view::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--bm-tint-init);
}

.view::before {
  top: 0;
  left: 0;
  background-color: var(--bm-tint-init);
  transform: rotate(90deg) translateY(100%);
  clip-path: path("M 0 0 L 16 0 Q 0 0 0 16 L 0 0 Z");
}

.view::after {
  bottom: 0;
  right: 0;
  transform: rotate(90deg) translateX(100%);
  clip-path: path("M 0 0 L 16 0 Q 0 0 0 16 L 0 0 Z");
}

.filter {
	fill: var(--bm-tint-silver);
}

.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle svg {
	opacity: 0.2;
  transition: all 0.3s ease-in-out;
}

.toggle.active svg,
.toggle:hover svg {
	opacity: 1;
}

.card {
  width: 100%;
  max-width: 95%;
  height: var(--bm-space-900);
  border-radius: var(--bm-radius-md);
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--bm-space-200);
  padding: var(--bm-space-200) var(--bm-space-500);
  position: relative;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.card.current {
	background-color: var(--bm-tint-init);
}

.card .title,
.card .meta {
  transition: transform 0.3s ease;
}

/* when hovered/current */
.card.current .title {
  transform: translateX(-5px);
}

.card.current .meta {
  transform: translateX(5px);
}

.title {
  width: 40%;
  line-height: 1;
}

.meta {
  flex: 1;
  font-size: 0.8125rem;
  text-align: right;
  opacity: 0.5;
}

.preview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  border-radius: var(--bm-radius-base);
  pointer-events: none;
  transition:
    opacity 0.2s ease,
    transform 0.05s linear;
  opacity: 0;
}

.current .preview {
  display: block;
}

.preview .blob {
  position: absolute;
  bottom: 0;
  right: 0;
}

.preview .blob span {
  display: inline-block;
  background-color: var(--bm-tint-primary);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.06),
    0 0 8px rgba(0, 0, 0, 0.04);
}

.preview .blob.lg {
  width: 24px;
  height: 24px;
  transform: translate(150%, 80%);
  opacity: 1;
}

.preview .blob.sm {
  width: 16px;
  height: 16px;
  transform: translate(370%, 195%);
  opacity: 1;
}

.case {
  height: 100%;
  width: 460px;
  height: 250px;
}

.figure {
  display: block;
  border-radius: var(--bm-radius-base);
  object-fit: cover;
  object-position: top left;
  width: 100%;
  height: 100%;
}

.placeholder {
  border-radius: var(--bm-radius-base);
	background-color: var(--bm-tint-init);
	width: 100%;
	height: 100%;
}

.box {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-top-right-radius: var(--bm-radius-lg);
  border-bottom-left-radius: var(--bm-radius-lg);
  background-color: var(--bm-tint-init);
  color: var(--bm-tint-silver);
  padding: 12px var(--bm-space-200);
  gap: var(--bm-space-200);
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--bm-tint-init);
}

.box::before {
  top: 0;
  left: 0;
  background-color: var(--bm-tint-init);
  transform: rotate(-90deg) translateX(100%);
  clip-path: path("M 0 0 L 12 0 Q 0 0 0 12 L 0 0 Z");
}

.box::after {
  bottom: 0;
  right: 0;
  transform: rotate(-90deg) translateY(100%);
  clip-path: path("M 0 0 L 12 0 Q 0 0 0 12 L 0 0 Z");
}

.heart {
  width: 20px;
  cursor: pointer;
}

.heart-stroke {
  stroke: var(--bm-tint-silver);
}

.heart-full {
  fill: var(--bm-tint-silver);
}

.mask-fill {
  fill: var(--bm-tint-silver)
}

@media only screen and (max-width: 1300px) {
	.panel {
		padding: var(--bm-space-300) var(--bm-space-600);
	}

	.cards {
		gap: var(--bm-space-300);
	}
}

@media only screen and (max-width: 1000px) {
  .showroom {
    flex-direction: column;
    gap: var(--bm-space-500);
  }

  .board {
    flex-direction: column-reverse;
    padding-top: var(--bm-space-1000);
    min-height: 95%;
  }

  .body {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
	.panel {
		padding: var(--bm-space-300);
	}

  .header {
    top: var(--bm-space-500);
    left: var(--bm-space-500);
  }

  .board {
    padding: 120px var(--bm-space-200) var(--bm-space-500);
  }

  .cards {
    gap: var(--bm-space-100);
  }

  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--bm-space-100);
    height: auto;
    padding: var(--bm-space-300) var(--bm-space-300);
  }

  .meta {
    text-align: left;
  }
}