.showroom {
  display: flex;
  color: var(--bm-tint-silver);
  padding: 124px 0;
  width: 100%;
}

.panel {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 0 var(--bm-space-1000);
}

.panel.data {
	justify-content: space-between;
	padding-top: var(--bm-space-300);
	padding-bottom: var(--bm-space-300);
}

.panel.deck {
	position: relative;
	padding-top: var(--bm-space-300);
	padding-bottom: var(--bm-space-300);
}

.panel.deck::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1px;
  background: var(--bm-tint-silver);
  opacity: 0.5;
}

.hd {
	display: flex;
	flex-direction: column;
	gap: var(--bm-space-200);
}

.hd h2 {
	font-size: 3rem;
	line-height: 1;
	letter-spacing: -3px;
	font-weight: 800;
}

.subheading {
	font-size: 1rem;
	line-height: 1;
	font-weight: 200;
}

.body {
	width: 70%;
}

.context {
	font-weight: 200;
	line-height: 170%;
}

.cards {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 350px));
	grid-template-rows: repeat(2, auto);
	gap: var(--bm-space-500);
	width: 100%;
	justify-items: center;
	justify-content: center;
	align-items: start;
}

.card {
	width: 100%;
	max-width: 350px;
	aspect-ratio: 350 / 500;
	background: var(--bm-tint-primary);
	border-radius: var(--bm-radius-base);
	overflow: hidden;
	position: relative;
}

.current {
	position: absolute;
	top: var(--bm-space-200);
	right: var(--bm-space-200);
	display: inline-flex;
	width: var(--bm-space-400);
	height: var(--bm-space-400);
	background-color: var(--bm-tint-init);
	border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
	.showroom {
		padding: var(--bm-space-1000) 0;
		flex-direction: column;
		gap: var(--bm-space-500);
	}

	.panel.deck::after {
		display: none;
	}
}