.board {
  margin: var(--bm-space-200);
  padding: var(--bm-space-600) var(--bm-space-800) var(--bm-space-700);
  background-color: var(--bm-tint-secondary);
  border-radius: var(--bm-radius-xl);
  border-top-right-radius: var(--bm-radius-lg);
  border-bottom-left-radius: var(--bm-radius-lg);
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
}

.dark.board {
  color: var(--bm-tint-init);
}

.pane {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 5;
}

.frame {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: var(--bm-radius-xl);
}

.backdrop {
  object-fit: cover;
  width: 100%;
  height: auto;
  border: 0;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 0.875rem;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel.data {
  gap: var(--bm-space-500);
}

.panel.deck {
  position: relative;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  display: inline-flex;
  align-items: center;
  gap: 120px;
}

.paginate {
  display: inline-flex;
  align-items: center;
  gap: var(--bm-space-300);
  font-size: 0.875rem;
  width: 170px;
  cursor: pointer;
}

.paginate-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snapframe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 750px;
}

.snapshot {
  width: auto;
  height: auto;
  max-width: 750px;
  max-height: 700px;
}

.photocomma .snapshot {
  max-height: 825px;
  border-radius: var(--bm-radius-md);
}

.sharenoto-party .snapshot {
  max-width: 700px;
}

.photocomma.board,
.sharenoto-party.board {
  background-color: var(--bm-tint-dim);
}

.fill-paginate {
  fill: var(--bm-tint-silver)
}

.dark .fill-paginate {
  fill: var(--bm-tint-init)
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--bm-space-400);
  padding: 0 0 var(--bm-space-300);
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 7;
}

.footer h2 {
  font-size: 1.625rem;
  line-height: 1.2;
  font-weight: 300;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-200);
  justify-content: flex-end;
}

.footer .summary,
.footer .context {
  width: 30%;
  flex: 0 0 30%;
}

.context {
  font-weight: 300;
  line-height: 165%;
  font-size: 0.875rem;
  display: flex;
  justify-content: flex-end;
}

.tags {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  gap: var(--bm-space-400);
  font-size: 0.8125rem;
  font-weight: 200;
  line-height: 1;
}

.tags span {
  white-space: nowrap;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--bm-space-100);
  width: 100%;
  align-items: flex-end;
}

.angle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  gap: var(--bm-space-400);
}

.corner {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-top-right-radius: var(--bm-radius-lg);
  border-bottom-left-radius: var(--bm-radius-lg);
  background-color: var(--bm-tint-init);
  color: var(--bm-tint-silver);
  padding: var(--bm-space-200);
}

.corner a {
  font-size: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.corner::before,
.corner::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--bm-tint-init);
}

.corner::before {
  top: 0;
  left: 0;
  background-color: var(--bm-tint-init);
  transform: rotate(90deg) translateY(100%);
  clip-path: path("M 0 0 L 12 0 Q 0 0 0 12 L 0 0 Z");
}

.corner::after {
  bottom: 0;
  right: 0;
  transform: rotate(90deg) translateX(100%);
  clip-path: path("M 0 0 L 12 0 Q 0 0 0 12 L 0 0 Z");
}

.corner svg {
  position: relative;
  top: var(--bm-space-50);
}

.angle .nav {
  display: inline-flex;
  align-items: center;
  gap: 29px;
  position: relative;
  top: var(--bm-space-50);
}

.angle .nav svg circle {
  fill: var(--tone-secondary-400);
}

.link {
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.details .link {
  padding: 6px var(--bm-space-200);
  text-transform: uppercase;
  font-size: 0.825rem;
  font-weight: 300;
  position: relative;
}

.link-frame-corner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  width: 7px;
  height: 5px;
  border: 0 solid var(--bm-tint-silver);
}

.dark.board .link-frame-corner {
  border-color: var(--bm-tint-accent);
}

.link-frame-tl {
  border-top-width: 1px;
  border-left-width: 1px;
  top: -1px;
  left: -1px;
}

.link-frame-tr {
  border-top-width: 1px;
  border-right-width: 1px;
  top: -1px;
  right: -1px;
}

.link-frame-bl {
  border-bottom-width: 1px;
  border-left-width: 1px;
  bottom: -1px;
  left: -1px;
}

.link-frame-br {
  border-bottom-width: 1px;
  border-right-width: 1px;
  bottom: -1px;
  right: -1px;
}

.card {
  width: 100%;
  max-width: 95%;
  height: var(--bm-space-900);
  border-radius: var(--bm-radius-md);
  display: flex;
  align-items: center;
  gap: var(--bm-space-200);
  padding: var(--bm-space-200) var(--bm-space-500);
  position: relative;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.card.current {
	background-color: var(--bm-tint-init);
}

.card .title,
.card .meta {
  transition: transform 0.3s ease;
}

/* when hovered/current */
@media only screen and (min-width: 768px) {
  .card.current .title {
    transform: translateX(-5px);
  }

  .card.current .meta {
    transform: translateX(5px);
  }
}

.title {
  width: 40%;
  line-height: 1;
}

.meta {
  flex: 1;
  font-size: 0.8125rem;
  text-align: right;
  opacity: 0.5;
}

.preview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  border-radius: var(--bm-radius-base);
  pointer-events: none;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.current .preview {
  display: block;
}

.preview .blob {
  position: absolute;
  bottom: 0;
  right: 0;
}

.preview .blob span {
  display: inline-block;
  background-color: var(--bm-tint-primary);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.06),
    0 0 8px rgba(0, 0, 0, 0.04);
}

.preview .blob.lg {
  width: 24px;
  height: 24px;
  transform: translate(150%, 80%);
  opacity: 1;
}

.preview .blob.sm {
  width: 16px;
  height: 16px;
  transform: translate(370%, 195%);
  opacity: 1;
}

.case {
  height: 100%;
  width: 460px;
  height: 250px;
}

.figure {
  display: block;
  border-radius: var(--bm-radius-base);
  object-fit: cover;
  object-position: top left;
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--bm-radius-base);
}

.placeholder {
  border-radius: var(--bm-radius-base);
	background-color: var(--bm-tint-init);
	width: 100%;
	height: 100%;
}

.fill-contour {
  fill: var(--bm-tint-silver);
}

@media only screen and (max-width: 1300px) {
	.panel {
		padding: var(--bm-space-300) var(--bm-space-600);
	}

	.cards {
		gap: var(--bm-space-300);
	}
}

@media only screen and (max-width: 1000px) {
  .board {
    flex-direction: column-reverse;
    padding-top: var(--bm-space-1000);
    min-height: 95%;
  }

  .footer {
    width: 100%;
  }

  .card {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
	.panel {
		padding: var(--bm-space-300);
	}

  .board {
    padding: 120px var(--bm-space-200) var(--bm-space-500);
  }

  .cards {
    gap: var(--bm-space-100);
  }

  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--bm-space-100);
    height: auto;
    padding: var(--bm-space-300) var(--bm-space-300);
  }

  .title {
    width: 100%;
  }

  .meta {
    text-align: left;
  }
}