.sw {
	width: 100px;
	height: 75vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.slide {
  position: absolute;
  top: 0;
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  width: 100%;
  height: 100%;
  z-index: 7;
  opacity: 0;
  cursor: pointer;
}

.knob {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.knob svg {
  cursor: pointer;
}

.thumb {
  position: relative;
}

.knob.hover .tooltip {
	opacity: 1;
	visibility: visible;
}

.knob.hover .tooltip::before,
.knob.hover .tooltip::after {
	opacity: 1;
	visibility: visible;
}

.knob.drag .tooltip {
  opacity: 0;
}

.tooltip {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: -40%;
	left: 85%;
	z-index: 5;
	background-color: var(--bm-tint-primary);
	color: var(--bm-tint-silver);
	border-radius: var(--bm-radius-md);
	padding: var(--bm-space-100) var(--bm-space-200);
	white-space: nowrap;
	font-size: 90%;
	transition: all 0.5s ease;
	transition-delay: 10ms;
}

.tooltip::before,
.tooltip::after {
	opacity: 0;
	visibility: hidden;
	content: '';
	background-color: var(--bm-tint-primary);
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translate(-120%, 100%);
	transition: all 0.5s ease;
	transition-delay: 150ms;
}

.tooltip::after {
	width: 10px;
	height: 10px;
	transform: translate(-250%, 290%);
	transition-delay: 300ms;
}

.tone-neutral {
  fill: var(--bm-tint-silver);
}

.tone-primary {
  fill: var(--tone-primary);
}

.tone-secondary {
  fill: var(--tone-secondary);
}

@media only screen and (max-width: 1000px) {
  .sw {
		width: 80vw;
		height: 75px;
	}

	.slide {
    writing-mode: horizontal-tb;
    direction: ltr;
    appearance: auto;
	}

  .knob {
    height: 75px;
  }

  .knob svg {
    width: 75px;
    height: 75px;
  }

  .tooltip {
    top: -75%;
    left: 80%;
    background-color: var(--bm-tint-secondary);
    white-space: normal;
    width: 130px;
  }

  .tooltip::before,
  .tooltip::after {
    background-color: var(--bm-tint-secondary);
  }
}

@media only screen and (max-width: 768px) {
  .sw {
		width: 60vw;
	}

  .tooltip {
    top: -95%;
    left: 80%;
    width: 100px;
  }
}