.sw {
	width: 100px;
	height: 75vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
}

.hue {
  position: absolute;
  top: 0;
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  width: 100%;
  height: 100%;
  z-index: 7;
  opacity: 0;
  cursor: pointer;
}

.shell {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.expand {
  cursor: pointer;
}

.tone-neutral {
  fill: var(--bm-tint-silver);
}

.tone-primary {
  fill: var(--tone-primary);
}

.tone-secondary {
  fill: var(--tone-secondary);
}