.box {
  display: inline-flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-top-right-radius: var(--bm-radius-lg);
  border-bottom-left-radius: var(--bm-radius-lg);
  background-color: var(--bm-tint-init);
  color: var(--bm-tint-silver);
  padding: 12px var(--bm-space-200);
  gap: var(--bm-space-200);
  cursor: pointer;
}

.box::before,
.box::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--bm-tint-init);
}

.box::before {
  top: 0;
  left: 0;
  background-color: var(--bm-tint-init);
  transform: rotate(-90deg) translateX(100%);
  clip-path: path("M 0 0 L 12 0 Q 0 0 0 12 L 0 0 Z");
}

.box::after {
  bottom: 0;
  right: 0;
  transform: rotate(-90deg) translateY(100%);
  clip-path: path("M 0 0 L 12 0 Q 0 0 0 12 L 0 0 Z");
}

.heart {
  width: 20px;
  cursor: pointer;
}

.box.liked .heart {
  opacity: 0.7;
}

.heart-stroke {
  stroke: var(--bm-tint-silver);
}

.heart-full {
  fill: var(--bm-tint-silver);
}

.mask-fill {
  fill: var(--bm-tint-silver)
}

.heart-cta {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  font-size: 0.8125rem;
  color: var(--bm-tint-silver);
  white-space: nowrap;
  font-weight: 200;
}
